.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.wrapper{
  max-width: 300px;
  margin: 0 auto;
}

input{
  width: 95%;
  padding: 5px;
  font-size: 1.2em;
  margin-bottom: 20px;
  outline: none;
}